<h1 class="page-title"> What needs to get done?</h1>

<div class="container">
    Task description: <br />
    <input type="text" [(ngModel)]="taskTitle" (keyup.enter)="addTask()" />
    <br>
</div>

<div class="container">
    <p>You need to do:</p>
    <ul *ngFor="let task of tasks">
        <li><input type="checkbox" /> 
            <ng-template [ngIf]="task.editing === false" [ngIfElse]="editingTask">
                {{task.title}}. <button class="edit-item" (click)="editTask(task)" >Edit</button>
            </ng-template>
            <ng-template #editingTask>
                <input type="text" [(ngModel)]="task.title" /><button class="edit-item" (click)="editTask(task)">Save</button>
            </ng-template>
            <button class="remove-item" (click)="deleteTask(task.id)">Delete</button> </li><br />
    </ul>
</div>

<click-game></click-game>