<h1 class="page-title"> What needs to get done?</h1>

<div class="container">
    Task description: <br />
    <input type="text" [(ngModel)]="taskTitle" (keyup.enter)="addTask()" />
    <br>
</div>

<div class="container">
    <ng-template [ngIf]="tasks.length > 0" [ngIfElse]="noTasks">
        <p>You have {{ taskCount() }} tasks left to do:</p>
    </ng-template>
    <ng-template #noTasks>
        <p>You finished all your tasks!</p>
    </ng-template>
    <ul *ngFor="let task of tasks">
        <li [ngClass]="{ 'checked' : task.marked }"><input type="checkbox" [(ngModel)]="task.completed" />
            <ng-template [ngIf]="task.editing === false" [ngIfElse]="editingTask">
                {{task.title}}. <button class="edit-item" (click)="editTask(task)">Edit</button>
            </ng-template>
            <ng-template #editingTask>
                <input type="text" [(ngModel)]="task.title" /><button class="edit-item"
                    (click)="editTask(task)">Save</button>
            </ng-template>
            <button class="remove-item" (click)="deleteTask(task.id)">Delete</button>
        </li><br />
    </ul>
    <hr noshade="noshade">
    <div class="selected-div">
        <input type="checkbox" (click)="selectAll()" />Select All<br/>
        <button>Complete Selected</button>
        <button>Delete Selected</button>
    </div>
</div>

<click-game></click-game>