

.page-title {
    padding-left: 10%;
}

.container {
    margin: 10%;
    padding: 1em;
    border-style: solid;
    border-color: #F6A895; 
    border-radius: 25px;

}


ul {
    list-style-type: none;
}
